.home-container {
  @extend %main-container;
}

.col-container {

}

.col-1,
.col-2 {
  width: 100%;
}

.home-header {
  @extend %header;
}

.home-title {
  margin-top: 8px;
  margin-bottom: 15px;
  line-height: 60px;
}

.form {
  height: 226px;
  margin: 0 8px 16px;
  text-align: center;

  h4 {
    font-family: $header-font;
    font-size: 1.4rem;
    padding: 5px;
    background-color: #ed1c24;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.button-container {
  @extend %button-container;
}

.save-button,
.send-email-button {
  @extend %button;
}

.send-email-button {
  width: auto;
  padding: 0 15px;
}

.contact {
  height: 102px;

  & textarea {
    height: 56%;
  }
}

.map {
  height: 350px;
}

.email-container {
  height: 75px;
  clear: both;
}

.email {
  height: 50px;

  h4 {
    width: 100%;
    display: inline-block;
    padding: 5px 0;
  }
}

.google-map {
  background-color: white;
  height: 305px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.register-button {
  margin-top: 15px;
}

.home-logo {
  @extend %goodgym-logo;
}

textarea {
  resize: none;
  border: none;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 80%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 768px){
  .col-1 {
    float: left;
    width: 50%;
  }

  .col-2 {
    float: right;
    width: 50%;
  }
}
