.home-container {
  max-width: 900px;
  margin: 0 auto;
}

.col-1,
.col-2 {
  width: 100%;
}

.home-header {
  width: 100%;
  text-align: center;
  font-family: $header-font;
  font-size: 2rem;
}

.form {
  height: 215px;
  margin: 0 8px 16px;
  text-align: center;

  h4 {
    font-family: $header-font;
    font-size: 1.4rem;
    padding: 5px;
    background-color: #ed1c24;
    margin: 0;
  }
}

.button-container {
  text-align: center;
  margin-top: 15px;
  width: 100%
}

.contact {
  height: 80px;

  & textarea {
    height: 47%;
  }
}

.map {
  height: 350px;
}

.google-map {
  border: 1px solid white;
  background-color: white;
  height: 305px;
}

.register-button {
  margin-top: 15px;
}

textarea {
  resize: none;
  border: none;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 80%;

  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 768px){
  .col-1 {
    float: left;
    width: 50%;
  }

  .col-2 {
    float: right;
    width: 50%;
  }
}
