.nav-container,
.home-container {
  @extend %main-container;
}

.col-1,
.col-2 {
  width: 100%;
}

.home-header {
  @extend %header;
}

.home-header__title {
  margin-top: 8px;
  margin-bottom: 15px;
  line-height: 60px;
}

.form {
  height: 226px;
  margin: 0 8px 16px;
  text-align: center;

  h4 {
    font-family: $header-font;
    font-size: 1.4rem;
    padding: 5px;
    background-color: #ed1c24;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.map-description {
  margin-top: 4px;
  font-family: $body-font;
}

.button-container {
  @extend %button-container;
}

.button-logout,
.button-container__save-button,
.button-container__send-email-button,
.button-container__save-verification-button,
.button-container__qr-verification-button {
  @extend %button;
}

.button-logout {
  float: right;
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 5px;
  height: 29px;
  margin-right: 10px;
}

.button-container__send-email-button,
.button-container__qr-verification-button {
  width: 175px;
  padding: 0 15px;
}

.hidden {
  display: none;
}

.checkmark {
  fill: none;
  stroke: black;
  stroke-width: 3.5;
  stroke-miterlimit: 10;
  height: 20px;
  transform: translate(0, 3px);
}

.contact {
  height: 102px;

  & textarea {
    height: 56%;
  }
}

.map {
  height: 350px;
}

#map {
  position: relative;
  width: 100%;
  height: 90%;
}

.email-container {
  height: 75px;
  clear: both;
}

.email-container__email {
  height: 50px;
}

.email-container__email-input {
  height: 40px;
}

.google-map {
  background-color: white;
  height: 305px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.register-button {
  margin-top: 15px;
}

.home-logo {
  @extend %goodgym-logo;
}

.clear-map {
  margin-left: 20px;
  color: #ed1c24;
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .col-1 {
    float: left;
    width: 50%;
  }

  .col-2 {
    float: right;
    width: 50%;
  }
}
