<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoodGym</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="favicon.ico" type="image/png">
  <script src="https://sdk.yoti.com/clients/browser.js"></script>
</head>
<body>
  {{#if user}}
    <nav class="nav-container">
      <a href="/logout" class="button-logout">Logout</a>
    </nav>
  {{/if}}

  {{{ body }}}

  <script>
    _ybg.init()
  </script>

  <script src="/index.js"></script>

</body>
</html>
