@font-face {
  font-family: lft-etica;
  src: url("/fonts/lft_etica_webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: adellesans;
  src: url("/fonts/adellesans_webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: lightblue;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: adellesans, sans-serif; }

.home-container, .login-container, .qr-container, .confirmation-container, .tasksheet-container, .error-container {
  max-width: 900px;
  margin: 0 auto;
  clear: both; }

.home-header, .login-header, .qr-header, .confirmation-header, .tasksheet-header, .error-header {
  width: 100%;
  text-align: center;
  font-family: lft-etica, sans-serif;
  font-size: 2rem; }

.button-logout,
.button-container__save-button,
.button-container__send-email-button,
.button-container__save-verification-button,
.button-container__qr-verification-button, .button-container__login-button, .button-container__confirmation-button, .save-button,
.send-email-button, .button-container__error-button {
  font-family: adellesans, sans-serif;
  font-size: 1.2rem;
  border: 2px solid #ed1c24;
  background-color: transparent;
  border-radius: 5px;
  width: 90px;
  height: 41.5px;
  margin-left: 8px;
  cursor: pointer; }
  .button-logout:focus,
  .button-container__save-button:focus,
  .button-container__send-email-button:focus,
  .button-container__save-verification-button:focus,
  .button-container__qr-verification-button:focus, .button-container__login-button:focus, .button-container__confirmation-button:focus, .save-button:focus,
  .send-email-button:focus, .button-container__error-button:focus {
    outline: none; }
  .button-logout:active,
  .button-container__save-button:active,
  .button-container__send-email-button:active,
  .button-container__save-verification-button:active,
  .button-container__qr-verification-button:active, .button-container__login-button:active, .button-container__confirmation-button:active, .save-button:active,
  .send-email-button:active, .button-container__error-button:active {
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px); }

.button-container {
  text-align: center;
  margin: 20px 0;
  width: 100%; }

.home-logo, .login-logo, .logo-container__qr-logo, .confirmation-logo, .tasksheet-logo, .error-logo {
  width: 150px;
  margin-top: 25px; }

._yoti-verify-button {
  margin-bottom: 12px; }

textarea {
  padding: 9px; }

.col-1,
.col-2 {
  width: 100%; }

.home-header__title {
  margin-top: 8px;
  margin-bottom: 15px;
  line-height: 60px; }

.form {
  height: 226px;
  margin: 0 8px 16px;
  text-align: center; }
  .form h4 {
    font-family: lft-etica, sans-serif;
    font-size: 1.4rem;
    padding: 5px;
    background-color: #ed1c24;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }

.map-description {
  margin-top: 4px;
  font-family: adellesans, sans-serif; }

.button-logout {
  float: right;
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 5px;
  height: 29px; }

.button-container__send-email-button,
.button-container__qr-verification-button {
  width: 175px;
  padding: 0 15px; }

.hidden {
  display: none; }

.checkmark {
  fill: none;
  stroke: black;
  stroke-width: 3.5;
  stroke-miterlimit: 10;
  height: 20px;
  transform: translate(0, 3px); }

.contact {
  height: 102px; }
  .contact textarea {
    height: 56%; }

.map {
  height: 350px; }

#map {
  position: relative;
  width: 100%;
  height: 90%; }

.email-container,
.runners-container {
  height: 120px;
  clear: both; }

.email-container__email {
  height: 50px; }

.email-container__email-input {
  height: 40px; }

.runners-container {
  margin-top: 27px; }

.runner-container__emails {
  height: 80px; }

.google-map {
  background-color: white;
  height: 305px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.register-button {
  margin-top: 15px; }

.clear-map {
  margin-left: 20px;
  color: #ed1c24;
  cursor: pointer; }

@media screen and (min-width: 768px) {
  .col-1 {
    float: left;
    width: 50%; }
  .col-2 {
    float: right;
    width: 50%; } }

.login-container {
  height: 90vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center; }

.login-header__title {
  margin-top: 5px; }

.button-container__login-button {
  width: 200px;
  margin: 0; }

.form-container {
  width: 100%;
  text-align: center;
  font-family: adellesans, sans-serif;
  font-size: 1.2rem; }

.form-container__input {
  width: 80%;
  padding: 10px;
  border-radius: 25px;
  border-style: none;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center; }

.form-container__input:focus {
  outline: none; }

.form-container__title {
  margin: 7px; }

.login-logo {
  position: absolute;
  width: 100px;
  top: -15px;
  left: 10px; }

@media screen and (min-width: 500px) {
  .form-container__input {
    width: 350px; } }

.qr-container {
  height: 85vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center; }

.qr-header__title {
  margin-top: 8px;
  margin-bottom: 15px; }

.qr-desciption {
  font-family: adellesans, sans-serif;
  font-size: 1.2rem;
  max-width: 320px;
  text-align: center;
  padding: 0 10px;
  margin-top: 20px; }

.display-none {
  display: none; }

.qr-image {
  margin-bottom: 30px;
  width: 135px;
  height: 135px; }

.confirmation-container {
  height: 90vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center; }

.confirmation-header__title {
  margin-bottom: 5px; }

.button-container__confirmation-button {
  width: 250px;
  margin: 5px 0; }

.confirmation-body {
  text-align: center;
  font-family: adellesans, sans-serif; }

.confirmation-logo {
  position: absolute;
  width: 100px;
  top: -15px;
  left: 10px; }

.col-1,
.col-2 {
  width: 100%; }

.tasksheet-header__title {
  margin-top: 8px;
  margin-bottom: 15px;
  line-height: 60px; }

.form {
  height: 226px;
  margin: 0 8px 16px;
  text-align: center; }
  .form h4 {
    font-family: lft-etica, sans-serif;
    font-size: 1.4rem;
    padding: 5px;
    background-color: #ed1c24;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }

.send-email-button {
  width: auto;
  padding: 0 15px; }

.contact {
  height: 102px; }
  .contact textarea {
    height: 56%; }

.map {
  height: 350px; }

.email-container {
  height: 75px;
  clear: both; }

.email {
  height: 50px; }
  .email h4 {
    width: 100%;
    display: inline-block;
    padding: 5px 0; }

.google-map {
  background-color: white;
  height: 305px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.register-button {
  margin-top: 15px; }

textarea {
  resize: none;
  border: none;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 80%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }
  textarea:focus {
    outline: none; }

@media screen and (min-width: 768px) {
  .col-1 {
    float: left;
    width: 50%; }
  .col-2 {
    float: right;
    width: 50%; } }

.error-container {
  height: 95vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center; }

.error-header__title {
  margin: 5px 0; }

.button-container__error-button {
  width: 130px;
  margin: 0; }

.error-body {
  width: 100%;
  text-align: center;
  font-family: adellesans, sans-serif;
  font-size: 1.2rem; }

.error-body__title {
  font-size: 2.1rem;
  padding: 0 80px; }

.error-logo {
  position: absolute;
  width: 100px;
  top: -15px;
  left: 10px; }
