<a href="https://www.goodgym.org/">
  <img src="../../goodgym-logo.png" alt="GoodGym logo" class="confirmation-logo">
</a>

<div class="confirmation-container">

  <header class="confirmation-header">
    <h1 class="confirmation__title">Success!</h1>
  </header>

  <div class="confirmation-body">
    <h3><span class="firstName">{{ firstName }}</span> <span class="lastName">{{ lastName }}</span>
      you are signed in on the run.</h3>
    <h3>We have sent your task sheet to <span class="emailAddress">{{ emailAddress }}</span></h3>
  </div>

  <div class="button-container">
    <button type="button" class="confirmation-button">Sign in another runner</button>
  </div>

</div>
