<div class="confirmation-container">

  <header class="confirmation-header">
    <h1 class="confirmation__title">Success!</h1>
  </header>

  <div class="confirmation-body">
    <span class="titleCase">{{firstName}}</span> {{lastName}} you are signed in on the run.
  </div>

  <div class="button-container">
    <button type="button" class="confirmation-button">Sign in another runner</button>
  </div>

</div>
