<a href="https://www.goodgym.org/">
  <img src="../../goodgym-logo.png" alt="GoodGym logo" class="error-logo">
</a>

<div class="error-container">
  <header class="error-header">
    <h1 class="error-header__title">Oops...</h1>
  </header>
  <div class="error-body">
    <h1 class="error-body__title">{{ error }}</h1>
  </div>
  <div class="button-container">
    <a href="/run">
      <button type="button" class="button-container__error-button">Try Again</button>
    </a>
  </div>
</div>
