<h1>HOME PAGE</h1>

<div class="button">
  <span
  data-yoti-application-id="493d7947-896e-49f6-afd4-e6136b8a9a34"
  {{!-- data-yoti-type="inline" --}}
  {{!-- data-yoti-scenario-id="ca6c7bc1-c722-40db-be0f-c1f25156deda" --}}
  >
    Register runners with Yoti
  </span>
</div>

<script>
  _ybg.init()
</script>
