<h1>HOME PAGE</h1>

<!-- This span will create the Yoti button -->
<span data-yoti-application-id="your-app-id" class="register-button">
  Register runners with Yoti
</span>

<!-- This script snippet will also be required in your HTML body -->
<script>
  _ybg.init()
</script>
