<h1>HOME PAGE</h1>

<!-- This span will create the Yoti button -->
<span data-yoti-application-id="493d7947-896e-49f6-afd4-e6136b8a9a34">
  Register runners with Yoti
</span>

<!-- This script snippet will also be required in your HTML body -->
<script>
  _ybg.init()
</script>
