<div class="home-container">

  <header class="home-header">
    <h1>Task Sheet</h1>
  </header>
  <div class="col-container">
    <div class="col-1">
      <div class="task form">
        <h4>Task</h4>
        <textarea name="task"></textarea>
      </div>

      <div class="location form">
        <h4>Location</h4>
        <textarea name="location"></textarea>
      </div>

      <div class="purpose form">
        <h4>Purpose</h4>
        <textarea name="purpose"></textarea>
      </div>
    </div>

    <div class="col-2">
      <div class="map form">
        <h4>Map</h4>
        <div class="google-map">
        </div>
      </div>

      <div class="contact form">
        <h4>Contact</h4>
        <textarea name="contact"></textarea>
      </div>

      <div class="risks form">
        <h4>Risk</h4>
        <textarea name="risk"></textarea>
      </div>
    </div>
  </div>

  <div class="button-container">
    <span data-yoti-application-id="493d7947-896e-49f6-afd4-e6136b8a9a34" class="register-button">
      Register runners with Yoti
    </span>
  </div>
</div>
