<div class="home-container">

  <header class="home-header">
    <h1>Task Sheet</h1>
  </header>

  <div class="task form">
    task
  </div>

  <div class="map form">
    map
  </div>

  <div class="location form">
    location
  </div>

  <div class="contact form">
    contact
  </div>

  <div class="purpose form">
    purpose
  </div>

  <div class="risks form">
    risk
  </div>

  <div class="register-button">
    <span data-yoti-application-id="493d7947-896e-49f6-afd4-e6136b8a9a34"
      class="register-button">
      Register runners with Yoti
    </span>
  </div>

</div>
