<a href="https://www.goodgym.org/">
  <img src="../../goodgym-logo.png" alt="GoodGym logo" class="login-logo">
</a>

<div class="login-container">
  <header class="login-header">
    <h1 class="login-header__title">Login</h1>
  </header>
  <div class="form-container">
    <form action='/login' method="POST">
      <div class="form-container__title">Enter your username:</div>
      <input class="form-container__input" type="text" name="username"><br>
      <div class="form-container__title">Enter your password:</div>
      <input class="form-container__input" type="password" name="password"><br>
      <div class="form-container__title">Enter your run ID:</div>
      <input class="form-container__input" type="text" name="runId"><br>
      <div class="button-container">
        <button type="submit" class="button-container__login-button">Create task sheet</button>
      </div>
    </form>
  </div>
</div>
