<div class="qr-container">
  <div class="logo-container">
    <img class="qr-logo" src="/goodgym-logo.png">
  </div>
  <header class="qr-header">
    <h1 class="qr-header__title">Sign in on the run!</h1>
  </header>
  <span data-yoti-scenario-id="ca6c7bc1-c722-40db-be0f-c1f25156deda" data-yoti-type="inline"></span>
  <p class="qr-desciption">
    Scan the QR code with your Yoti app to sign-in on the run
  </p>
</div>
