<h1>QR CODE HERE</h1>

<div class="mt3 mca ph4 pv2 cf">
  <img class="logo" src="/goodgym-logo.png">
  <div class="fl-ns">
    <h1 class="goodScout">GoodGym</h1>
  </div>
</div>

<!-- This span will create the Yoti button -->
<span data-yoti-application-id="493d7947-896e-49f6-afd4-e6136b8a9a34" data-yoti-type="inline" data-yoti-scenario-id="493d7947-896e-49f6-afd4-e6136b8a9a34">
  Register runners with Yoti
</span>

<span data-yoti-scenario-id="ca6c7bc1-c722-40db-be0f-c1f25156deda" data-yoti-type="inline"></span>

<div class="image-container">
  <div class="background-image">
    <h2>Scan the QR code with your Yoti app to sign-in on the run</h2>
    <div class="tc">
      <span class="qr-code-output tc"></span>
    </div>
    </div>
  </div>

  <!-- This script snippet will also be required in your HTML body -->
  <script>
    _ybg.init()
  </script>
