<h1>QR CODE HERE</h1>

<div class="mt3 mca ph4 pv2 cf">
  <img class="logo" src="/goodgym-logo.png">
  <div class="fl-ns">
    <h1 class="goodScout">GoodGym</h1>
  </div>
</div>
<div class="image-container">
  <div class="background-image">
    <h2>Scan the QR code with your Yoti app to sign-in on the run</h2>
    <div class="tc">
      <span class="qr-code-output tc"></span>
    </div>
    </div>
  </div>
