<div>
  <img class="logo" src="/goodgym-logo.png">
</div>

<span data-yoti-scenario-id="ca6c7bc1-c722-40db-be0f-c1f25156deda" data-yoti-type="inline"></span>

<h2>Scan the QR code with your Yoti app to sign-in on the run</h2>
